.green{
	color: #1fa67a;
}
.black{
	color: black;
}
.bdrgreen{
	border-color: #1fa67a;
}
.bggreen{
	background-color: #1fa67a    !important; 
}
.bgblack{
	background-color: #2a2a2a    !important; 
}
.paddingtop{
	padding-top: 50px;
}
a{
    text-decoration: none !important; 
}
th, td{
	border-color: #1fa67a !important; 
}